@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
  background-color: #15202b;
}

button {
  background: orange;
}

.main-heading {
  font-size: 70px;
  font-family: 'Rubik Vinyl', cursive;
  text-align: center;
  color: orange;
}

.main {
  width: 80%;
  font-family: 'Nerko One', cursive;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 12%;
}

.sub-heading {
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-between;
}

.sub-heading button {
  height: 25px;
  display: flex;
  align-self: center;
  font-size: 12px;
  padding-top: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

.sub-heading-2 {
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.container1-child {
  display: flex;
}

.list-block {
  border: 2px solid black;
  padding-left: 3px;
  margin-bottom: 12%;
  height: 250px;
  color: red;
  box-sizing: border-box;
  overflow: auto;
}

.container-2 .form {
  display: flex;
  flex-direction: column;
}

.inp-name {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  border: 2px solid black;
}

.inp-score {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 2%;
  margin-top: 8%;
  border: 2px solid black;
}

.add-btn {
  margin-top: 32%;
  display: flex;
  position: fixed;
  align-self: center;
  padding: 2% 6%;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

.container-1,
.container-2 {
  background-color: rgba(255, 255, 255, 0.096);
  backdrop-filter: blur(10px);
  color: orange;
  position: relative;
}

.block {
  width: 80%;
  margin: auto;
}

.data {
  background: #15202b;
  font-size: 20px;
  padding-left: 5px;
}

.animated-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in::after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }

  50% {
    background-position: 85% 100%;
  }

  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }

  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }

  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

.alert {
  color: red;
  text-align: center;
  font-size: 18px;
}

.alert-2 {
  text-align: center;
  animation-name: moveInleft;
  color: #00f260;
  animation-duration: 3s;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* @media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  main {
    width: 80%;
  }
} */
